*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: #ffe700;
}

header h1{
    font-size: 100px;

}

header img{
    width: 125px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}